#footer {
  text-align: center;
  color: var(--two);
  background-color: var(--four);
  font: 400 40px/1.5 Trebuchet MS;
}

#footer .social.col-3 {
  text-align: center;
  background-color: var(--four);
}