#footer {
  text-align: center;
  color: var(--two);
  background-color: var(--four);
  font: Trebuchet MS;
  box-shadow: 0vw 1vh 5vh 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 10px;
}

#footer .social.col-3 {
  text-align: center;
}