.portfolio {
  text-align: center;
  color: var(--four);
  font: 400 20px/1.5 Trebuchet MS;
}

.project {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pj a {
  color: var(--four);
}

#pj a:hover {
  color: var(--five);
}