.row.project {
  margin-bottom: 10px;
}

.title {
  text-align: center;
  font-size: 30px;
}

img {
  width: 70px;
}

.desc {
  font-weight: 
}

.link {
  text-decoration: underline;
}

.tech {
  font-size: 12px;
}