#stack .col-6.logos {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  background-color: var(--two);
}

#stack img {
  object-fit: cover;
  width: 50px;
  margin-bottom: 30px;
}

.label {
  text-align: center;
  color: var(--four);
  font: 400 40px/1.5 Trebuchet MS;
}