#stack {
  text-align: center;
}

#stack .col-12.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  background-color: var(--two);
}

#stack img {
  width: 70px;
  margin-bottom: 10px;
}

#stack img.too-tall {
  height: 100px;
}
.label {
  text-align: center;
  color: var(--four);
  font: 400 40px/1.5 Trebuchet MS;
}