.App {
  text-align: center;
}

.header {
  background-color: var(--four);
}

.main {
  background-color: var(--two);
}

.footer {
  background-color: var(--four);
}

a {
  color: var(--two);
  text-decoration: none;
}

a:hover {
  color: var(--five);
}

@media only screen and (min-width: 640px) {

  .foo {
    /* do something to
    override default settings*/
  }
}

@media only screen and (min-width: 800px) {

  .foo {
    /* do something to
    override settings at previous threshold settings*/
  }
}
